.aditionalinfo{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
  .link{
    width: 25%;
    .img{
      width: 100%;
      transform: scale(1);
      border: none;
      transition: linear 200ms;
      &:hover{
        transform: scale(1.01);
        box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, .15);
        transition: linear 200ms;
      }
    }
  }
}