.pageContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .mainPart{
    display: flex;
    justify-content: space-around;
  }
  
  .descriptionTitle{
    font-weight: 600;
  }
  .descriptionBlock{
    padding: 0% 6%;
    margin-top: 2%;
  }
  .descriptionTitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .5%;
  }
  .description{
    font-size: 18px;
    margin-bottom: 1%;
    line-height: 1.5;
  }
  .srokTitle{
    font-weight: 600;
    margin-bottom: 3%;
    display: inline-block;
  }
  .same{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 3%;
  }
}
.bestBlock{
  margin-bottom: 3%;
}

.loaderBlock{
  width: 100% !important;
}