.btn{
  width: 70%;
  background-color: var(--light);
  border: 1px solid var(--light);
  border-radius: 6px;
  padding: 6px 0px;
  font-size: 14px;
  transition:all 200ms linear;
  font-weight:lighter;
  color: var(--default);
  &:hover{
    background-color: white;
    color: var(--orange);
    border-color: var(--orange);
    transition:all 200ms linear;
  }
}
