.main{
  border-top: 1px solid var(--orange);
  background-color: var(--light);
  display: flex;
  .contentBlock{
    width: 80%;
    .catalogItems{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .pagination{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1% 0%;
    }
  }
}

@media (max-width: 450px) {
  .main{
    flex-direction: column;
    border-top: none;
    .contentBlock{
      border-top: 1px solid var(--orange);
      width: 100%;
      padding: 1% 0;
    }
  }
}