

.header{
  display: flex;
  padding: 1% 0%;
  align-items: center;
  justify-content: space-around;
  color: var(--orange);
}

.logo{
  width: 20%;
  cursor: pointer;
}

.list{
  font-family: Amavik, sans-serif;
  field-sizing: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.list li{
  transition: linear;
  transition-duration: 200ms;
  transform: scale(1);
}
.list li:hover{
  transform: scale(1.1);
  transition: linear;
  transition-duration: 200ms;
  color: var(--orange-hover);
}