.header{
  display: flex;
  padding: 2% 0%;
  align-items: center;
  justify-content: space-around;
  .container{
    display: flex;
    justify-content: space-between;
    .collapse{
      width: 80%;
    }
    .logo{
      width: 15%;
      img{
        width: 100%;
      }
    }
    .list{
      width: 100%;
      display: flex;
      justify-content: space-around;
      .item{
        font-family: Amavik, sans-serif;
        font-size: 20px;
        cursor: pointer;
        transition: linear;
        transition-duration: 200ms;
        transform: scale(1);
        color: var(--orange);
        &:hover{
          transform: scale(1.1);
          transition: linear;
          transition-duration: 200ms;
          color: var(--orange-hover);
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header{
    display: flex;
    padding: 4% 0%;
    align-items: center;
    justify-content: space-around;
    .container{
      display: flex;
      .logo{
        flex: 1;
        width: 100%;
        img{
          width: 100%;
        }
      }
      .burger{
        border: none;
      }
      .collapse{
        order: 2;
        text-align: center;
      }
    }
  }
}