@mixin contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main{
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0%;
  .whiteBack{
    width: 90%;
    background-color: white;
    .title{
      font-size: 30px;
      color: var(--orange);
      text-align: center;
      display: block;
      padding: 3% 0%;
    }
    .coorpContent{
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      margin-bottom: 3%;
      .left{
        @include contacts()
      }
      .right{
        @include contacts()
      }
    }
    .btnsBlock{
      display: flex;
      justify-content: space-around;
      margin-bottom: 2%;
      button{
        color: white;
        font-family: 'Amavik', sans-serif;
        font-size: 18px;
        background-color: var(--orange);
        border: none;
        border-radius: 20px;
        padding: 1% 3%;
        transition: 200ms;
        display: flex;
        gap: 5px;
        align-items: center;
        &:hover{
          transform: scale(.9);
          transition: 200ms;
        }
      }
    }
    .divider{
      display: flex;
      justify-content: center;
      border-bottom: 1px solid var(--orange);
      padding: 2% 0%;
      position: relative;
      margin-bottom: 5%;
      img{
        position: absolute;
        background-color: white;
        padding: 5px 10px;
        margin-top: -12px;
      }
    }
  }
}

@media (max-width:450px) {
  @mixin contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .main{
    .whiteBack{
      .title{
        font-size: 26px;
        margin-bottom: 5%;
      }
      .coorpContent{
        flex-direction: column;
        font-size: 18px;
        gap: 20px;
        .left{
          text-align: center;
          @include contacts()
        }
        .right{
          text-align: center;
          @include contacts()
        }
      }
      .btnsBlock{
        flex-direction: column;
        gap: 10px;
        button{
          justify-content: center;
          padding: 3% 0%;
        }
      }
      .divider{
        margin-top: 5%;
        margin-bottom: 10%;
        img{
          width: 15%;
        }
      }
    }
  }
}